<h1>This is the secret page!</h1>

<p>You found me, Sir. <%=user.username%></p>

<ul>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
</ul>
<img src="http://www.somepets.com/wp-content/uploads/2013/06/most-hilarious-aniamls101.jpg">

